{% extends "topic/base.html" %}
{% block title %}发送邮件{% endblock%}

{% block css %}
{#    <link href="./Submit Button Animation_files/css" rel="stylesheet">#}
    <link rel="stylesheet prefetch" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="/static/css/style-mail.css">
{% endblock%}

{% block main %}

<p>发送邮件</p>
<form method="post" action="{{ url_for('.add') }}">
    <input type="text" name="content" placeholder="content">
    <input type="text" name="title" placeholder="title">
    <input type="text" name="receiver_id" placeholder="receiver_id">
    <div class="send-button">
        <button class="text" type="submit">发送邮件</button>
{#        <span class="text">send</span>#}
        <span class="icon-wrapper">
            <span class="icon-1 ion-paper-airplane"></span>
            <span class="icon-2 ion-checkmark"></span>
        </span>
    </div>
</form>

<p>收到邮件</p>
{% for r in received %}
    <div>
        <a href="{{ url_for('.view', id = r.id) }}"> {{ r.title }}</a>
    </div>
{% endfor %}

<p>发送邮件</p>
{% for s in send %}
    <div>
        <a href="{{ url_for('.view', id = s.id) }}"> {{ s.title }}</a>
    </div>
{% endfor %}

<div class="send-button">
    <span class="text">send</span>
    <span class="icon-wrapper">
        <span class="icon-1 ion-paper-airplane"></span>
        <span class="icon-2 ion-checkmark"></span>
    </span>
</div>

<script type="text/javascript" src="/static/js/jquery-2.2.4.min.js"></script>
<script type="text/javascript" src="/static/js/index-mail.js"></script>

{% endblock %}